%section
  %h1 デバイス情報調査

  %p
    SmartHR が正しく動作しない状況がおきており、ご不便おかけしております。
    %br
    不具合の原因調査のため、お客様のご利用端末、環境 (OS・ブラウザなど) の情報を弊社にお送りいただきたく存じます。
    %br
    つきましては、下記の「送信」ボタンの押下をお願い致します。

  %dl.notification
    %dt 弊社が取得するお客様の情報
    %dd
      %ul
        %li 利用端末の情報
        %li 利用 OS の情報
        %li 利用ブラウザの情報

  %form{action: '/', method: 'post'}
    %input{type: 'text', id: 'js-values-field', name: 'jsenv', value: '', hidden: true}
    %button{class: 'submitButton', type: 'submit', id: 'submit-button'}
      %i.fa.fa-fw.fa-paper-plane-o
      情報を送信する

  %script{type: 'text/javascript', src: "javascript/main.js?t=#{Time.now.to_i}"}
